{% extends '/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('styles/colony/show.css') }}"/>
{% endblock %}

{% block body %}
    <h1>Colony {{ colony.id }}</h1>
    <nav class="control-bar">
        <div class="button-container float-right">
        {% if has_next_generation %}
            <a href="{{ url('show_colony', {'id': colony.id, 'generation': colony.generation + 1}) }}" class="button" tabindex="2">next</a>
        {% else %}
            <form method="post" action="{{ url('evolve_colony', {'id': colony.id}) }}">
                <input type="submit" class="button" tabindex="2" value="next"/>
            </form>
        {% endif %}
        </div>
        <div class="button-container float-left">
        {% if has_previous_generation %}
            <a href="{{ url('show_colony', {'id': colony.id, 'generation': colony.generation - 1}) }}" class="button" tabindex="1">previous</a>
        {% endif %}
        </div>
        <span id="colony-generation">{{ colony.generation }}</span>
    </nav>
    <table id="colony">
        <tr>
        {% for state in colony.cell_states %}
            <td class="cell {{ state }}-cell"></td>
            {% if not loop.last and loop.index is divisible by(colony.width) %}
                </tr>
                <tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
{% endblock body %}
